name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - uses: cachix/cachix-action@v15
        with:
          name: devenv

      - name: Build
        run: nix build -L

      - name: Check
        run: nix flake check
